In [2]:
SELECT tipus, ROUND(AVG(csillagok_szama), 0) AS Átlag_csillag
FROM szallashely
WHERE tipus NOT LIKE 'Panzió'
GROUP BY szallashely.tipus
HAVING AVG(csillagok_szama)>=3

tipus,Átlag_csillag
Hotel,3

In [10]:
SELECT Szoba.SZOBA_ID, YEAR(Foglalas.METTOL) AS Év, COUNT(*) AS Foglalások
FROM Szoba JOIN Foglalas ON Foglalas.SZOBA_FK = Szoba.SZOBA_ID
WHERE CAST(Szoba.SZOBA_SZAMA AS numeric) % 2 <> 0
GROUP BY Szoba.SZOBA_ID, YEAR(Foglalas.METTOL)
HAVING COUNT(*)>10

SZOBA_ID,Év,Foglalások
58,2016,12